@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main header,
nav header {
  font-weight: 700;
  font-style: 1.5em;
}

nav {
  width: 800px;
  border-right: 3px solid #ccc;
}

nav header {
  padding: 15px;
}

nav a {
  display: block;
  border-top: 1px solid #ccc;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 500px;
}

code pre {
  background-color: #ccc;
  padding: 20px;
}

@media (max-width: 576px) {
  body {
    flex-direction: column;
  }

  nav {
    overflow-y: scroll;
    border-bottom: 3px solid #ccc;
    height: 300px;
  }

  main {
    overflow-y: unset;
  }
}
